<div class="card m-4">
  <div class="card-header">
    <h1 class=" m-3">Add New Friend</h1>
  </div>
<%= render 'form', friend: @friend%>
</div>
<%= link_to 'Back', friends_path, class:"btn btn-secondary ms-5" %>